# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f60254a5e5de9dfa0fb500bd1797876bfaa734293193abe92411520e096d1ee2d475acaaaebba36dd6562f01a8e83791d08682019d40b7c8b538465f1c9ef1dd
  mailer_user_name: 'foo@example.com'
  mailer_password: 'password'

test:
  secret_key_base: 3dd8f17c07d708affa54225c65190dd9ff354eac4ee7c79b3a770c09f3142c099402a489bf0660d7428f829e7279b78b996306a2eb054c09b00534af353c9a17

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: 2be018a4c89c6f718b1095f25b41a40599a2d32f39677d3ba4d10323bd44b07fe1c074cb03eeeca3c31d73b80c545a24c79c72c2c3403ad872d8cf8ba0719cc6
  mailer_user_name: 'foo@example.com'
  mailer_password: 'password'