= render 'user/welcome_user_box'
%h3
	= link_to "Back to home", root_path
%h3
	This is your dashboard
%h3
	My profile :
%div#user-profile-box

%div#user-details-box
	%ul#user-box-tabs
		%li#edit-user-profile
			= link_to "Add new advert"
		%li#activities
			= link_to "My Activities"


/ %h5
/ 	First Name :
/ = current_user.first_name
/ %h5
/ 	Last Name :
/ = current_user.last_name
/ %h5
/ 	Email:
/ = current_user.email
/ %h5
/ 	Mobile Number :
/ = current_user.mobile_number_1
/ %h5
/ 	Number of adverts :
/ = current_user.adverts.count