%h3
	= link_to "Back to home", root_path
%h3
	This is your dashboard
%h3
%div#dashboard-tabs
	%ul#user-box-tabs
		%li#user-profile-box
			= link_to "My Profile"
		%li#user-profile
			= link_to "Add new advert"
		%li#all-adverts
			= link_to "My addverts"
