/= render 'user/welcome_user_box'
%h3
  = link_to "Back to home", root_path
%h3
  %center
    This is your dashboard
.bs-example
  %ul.nav.nav-tabs
    %li.active
      = link_to "Profile", "#profile", :data => {:toggle => 'tab'}
    %li
      = link_to "Add new advert", "#new_advert", :data => {:toggle => 'tab'}
    %li
      = link_to "All my adverts", "#adverts", :data => {:toggle => 'tab'}
  .tab-content
    #profile.tab-pane.fade.in.active
      %h3
        This is your profile
      %p
        Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
    #new_advert.tab-pane.fade
      %h3
        Add new advert
    #adverts.tab-pane-fade
      %h3
        All my adds

