/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body.dashboard{
	background-image: url(/assets/dashboard.jpg);
}


.nav.nav-pills{
	text-align: center;
	border-bottom: 0px solid #D7D4EC;
}

notice{
font-family: serif;
display: block;
text-align: center;
font-size: large;
background-color: rgb(65, 89, 105);
color: white;
}