// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#subscribe-header{
	text-align: center;
	background-color: whitesmoke;
	font-size: x-large;
	font-family: sans-serif;
}
#newsletter-subscribe{
	position: fixed;
}
.modal-header{
	#subscribe-description{
		font-size: small;
	}
}